*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgpnCYlWlCWJrzm9LDsPL7oLclgYb1R30oLg&s);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */

}
.form{

    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxgF054WWShCqM3gtOqTC8Rm-cV8Dce8cv8A&s);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    box-sizing: border-box;
    border: 5px solid rgb(3, 5, 27);
    box-shadow: 5px 5px 5px rgb(189, 219, 189),-5px -5px  red;
    opacity: 0.9;
}
button{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: larger;
}
input{
    text-align: center;
    border-radius: 10px;
    height: 20px;
    box-shadow: 2px 2px 2px rgb(15, 15, 15),-2px -2px 2px rgb(29, 28, 28);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform:capitalize;
    float:center;
    color: orange;
    
}
label{
    font-size: larger;
    color: black;
    font-weight: bolder;
    text-decoration:dotted underline;
    line-height: 1.5;
}