.container{
    background: greenyellow;
    padding: 20px;
    height: 200px;
    width: 300px;
    text-align: center;
    justify-self: center;margin-top: 250px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 4px 4px 8px black,-4px -4px 8px black;
}
input{
    height: 30px;
    border-radius: 20px;
    text-align: center;
}
button{
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    background: #000;
    color: white;
    box-shadow: 4px 4px 8px black;
    border: 2px solid white;
}
#result{
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
}